/* Importing google fonts */
@import url('https://fonts.googleapis.com/css?family=Lora|PT+Sans|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

/* Importing all components file */
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

/* General rules for fonts and colours */
body {
	font-family: Lora, serif;
	background-color: rgb(240,240,240);
	margin: 0px;

}
h1,h2,h3{
	font-family: Roboto Mono, monospace;
}

a{
	text-decoration: none;

}