.banner {
	background-image: linear-gradient(-225deg, rgba(64,64,64,0.8) 0%, rgba(160,160,160,0.2) 50%) , url(../../images/ldn.jpg);
	color: white;
	padding: 150px 0px;
	padding-right: 30px;
	background-size: cover;
	background-position: center;
}

.banner h1{
	font-size: 50px;
	font-family: Roboto Mono, monospace;
	color: rgb(239,154,27);
	margin-top: 70px;
	font-style: italic;

}

.banner h2{
	font-weight: lighter;
	font-size: 30px;
	font-family: Roboto Mono, monospace;
	color: rgb(239,154,27);
	opacity: 0.8;
	margin-bottom: 40px;
	font-style: italic;

}